.animated-text__word {
  display     : inline-flex;
  line-height : 13rem;
  overflow    : hidden;
  padding-right: 1rem;
}

.animated-text__word > span {
  transform : translate3d(0, 1em, 0);
  opacity   : 0;
  display   : inline-block;
}

.animated-text.active .animated-text__word > span {
  transform : translate3d(0, 0, 0);
  opacity   : 1;
}
