@keyframes roll-to-right {
  from {
    opacity: 0;
    transform : translateX(-20rem) rotate(-720deg);
  }
  40% {
    opacity: 1;
  }
  to {
    transform : translateX(0);
  }
}

@keyframes roll-to-left {
  from {
    opacity: 0;
    transform : translateX(20rem) rotate(720deg);
  }
  40% {
    opacity: 1;
  }
  to {
    transform : translateX(0);
  }
}
