@keyframes move-in {
  from {
    transform : translateX(100%);
  }
  to {
    transform : none;
  }
}

@keyframes fade-in {
  from {
    opacity   : 0;
    transform : translateY(15px);
  }
  to {
    opacity   : 1;
    transform : none;
  }
}

@keyframes appear {
  from {
    opacity   : 0;
  }
  to {
    opacity   : 1;
  }
}

@keyframes move-from-left {
  from {
    left    : -100%;
    opacity : 0;
  }
  10% {
    opacity : 1;
  }
  to {
    left    : 0;
    opacity : 1;
  }
}

@keyframes move-from-right {
  from {
    right   : -100%;
    opacity : 0;
  }
  10% {
    opacity : 1;
  }
  to {
    right   : 0;
    opacity : 1;
  }
}
